body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
};
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-radius: 1px solid #ccc;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease ;
    margin-top: 20px;
}
select:hover {
    border-color: #999;
}
select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
button {
    position: absolute;
    left: 30%;
    top: 30%;
}
button:hover {
    background-color: #3498db;
}
p {
    position: absolute;
    left: 20%;
    top: 35%;
}